<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>INDEX</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   
   <body>
    <header>
        <div class="contain">
          <h1 class="logo"><span style="color:white">DIABETIC RETINOPATHY </span> <span style="color:rgb(24, 165, 190)"> DETECTION</span></h1>
          
          <nav>
            <ul>
              <li><a href="{{ url_for('index') }}" >HOME</a></li>
              <li><a href="https://www.who.int/europe/activities/promoting-diabetic-retinopathy-screening/">NEWS</a></li>
              <li><a href="{{ url_for('login') }}">LOG IN</a>> </li>
              <li><a href="{{ url_for('register') }}">REGISTER</a>> </li>
              <li><a href="{{ url_for('logout') }}">LOG OUT</a> </li>
            </ul>
          </nav>
        </div>
      </header>
      <br>
    
      <div class="container">
         <div class="wrapper">
            <div class="image">
               <img src="" alt="">
            </div>
            <div class="content">
               <div class="icon">
                  <i class="fas fa-cloud-upload-alt"></i>
               </div>
               <div class="text">
                  No file chosen, yet!
               </div>
            </div>
            <div id="cancel-btn">
               <i class="fas fa-times"></i>
            </div>
            <div class="file-name">
               File name here
            </div>
         </div>
         <button onclick="defaultBtnActive()" id="custom-btn">Choose a file</button>
         <input id="default-btn" type="file" hidden>
      </div>
      <script>
         const wrapper = document.querySelector(".wrapper");
         const fileName = document.querySelector(".file-name");
         const defaultBtn = document.querySelector("#default-btn");
         const customBtn = document.querySelector("#custom-btn");
         const cancelBtn = document.querySelector("#cancel-btn i");
         const img = document.querySelector("img");
         let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
         function defaultBtnActive(){
           defaultBtn.click();
         }
         defaultBtn.addEventListener("change", function(){
           const file = this.files[0];
           if(file){
             const reader = new FileReader();
             reader.onload = function(){
               const result = reader.result;
               img.src = result;
               wrapper.classList.add("active");
             }
             cancelBtn.addEventListener("click", function(){
               img.src = "";
               wrapper.classList.remove("active");
             })
             reader.readAsDataURL(file);
           }
           if(this.value){
             let valueStore = this.value.match(regExp);
             fileName.textContent = valueStore;
           }
         });
      </script>
      <br><br><br><br>

      <form action="", method="POST">

   <div class="patient">
            <h3>ENTER PATIENTS DETAILS BELOW:</h3><br>
   
    {{ form.hidden_tag() }}
    <br>
    <br>

    <label for="firstname">First name:</label>
    {{ form.firstname }}
    <br>
    <br>

    <label for="lastname">Last name:</label>
    {{ form.lastname }}
    <br>
    <br>

    <label for="dob">Date of Birth:</label>
    {{ form.dob }}
    <br>
    <br>

    <label for="weight">Weight:</label>
    {{ form.weight }}
    <br>
    <br>

    <label for="height">Height:</label>
    {{ form.height }}
    <br>
    <br>
    {{ form.submit }}
    <br>
    <br>
   
   </div>
         

      </form>
      

      
   </body>
</html>